*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quando', serif;
}
.header{
min-height: 100vh;
width:100%;
background-image: linear-gradient(rgba(85, 91, 122, 0.7), rgba(124, 131, 156, 0.7)),url(images/Springpoint\ Church.png);
background-position:center;
background-size: cover;
position: relative;
}
nav{
    display: flex;
    padding: 3% 6%;
    justify-content:space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1; 
    text-align:right;
}
.nav-links ul li{
    list-style-type:none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:beige;
    text-decoration: none;
    font-size: 20px;   
}
.nav-links ul li::after{
   content: '';
   width: 0%;
   height: 2px;
   background: rgb(214, 166, 94);
   display: block;
   margin:auto;
   transition:0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:beige;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color:beige;
}
.join-btn{
    
    display:inline-block;
    text-decoration:none;
    border: 2px solid ivory;
    margin: 15px 15px;
    padding: 15px 54px;
    border-radius: 2px 10px;
    color: ivory;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.join-btn:hover{
    border: 1px solid rgb(218, 157, 96);
    background:rgb(218, 157, 96);
    opacity:0.7;
    transition: 1s;
}
.watchlive-btn{
    display:inline-block;
    text-decoration:none;
    border: 2px solid ivory;
    margin: 15px 15px;
    padding: 15px 54px;
    border-radius: 2px 10px;
    color: ivory;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.watchlive-btn:hover{
    border: 1px solid rgb(218, 157, 96);
    background:rgb(218, 157, 96);
    opacity:0.7;
    transition: 1s;
}
.loc-btn{
    display:inline-block;
    text-decoration:none;
    color: ivory;
    border: 2px solid ivory;
    padding: 15px 54px;
    border-radius: 2px 10px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.loc-btn:hover{
    border: 1px solid rgb(218, 157, 96);
    background:rgb(218, 157, 96);
    opacity:0.7;
    transition: 1s;
}
nav .fa{
    display:none;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;  
    } 
    .nav-links ul li{
        display:block;
    }
    .nav-links{
     position:fixed;
     background:rgb(141, 170, 187);
     height: 100vh;
     width: 200px;
     top:0;
     right: -200px;
     text-align:left;
     z-index:2;
     transition: 1s;
    }
    nav .fa {
        display: block;
        margin:10px;
        font-size:34px; 
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*-----HOME----*/
.home{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:80px;
}
h1{
    font-size:36px;
    font-weight:600;
}
p{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
    }
    .home{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:80px;
}
h1{
    font-size:36px;
    font-weight:600;
}
p{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
    }
.home-col{
    flex-basis:31%;
    background: rgba(240, 190, 133, 0.7);
    border-radius:10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.home-col img{
    width:100%
}
h3{
    text-align: center;
    font-weight: 500;
    margin:10px 0;
}
.home-col:hover{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #888888;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
/*-------feature----*/


.featurevent{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:80px;
}
h1{
    margin-top: 50px;
    text-align: center;
    font-size:36px;
    font-weight:600;
}
p{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    padding:10px;
    text-align: center;
}
.row{
    margin-top:2%;
    display: flex;
    justify-content:space-around;
    }
.feature-col{
    flex-basis:25%;
    background: rgba(240, 190, 133, 0.7);
    border-radius:20px;
    margin-bottom: 5%;
    padding:20px 12px;
    transition: 0.5s;
        }
.feature-col img{
    width:100%;
    }
.layer h3{
    position: inherit;
    text-align: center;
    font-weight: 500;
    margin:5px;
    }
.layer:hover{
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px #99b3db;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

/*-------Mission----*/
.about{
    margin: 100px auto;
    width:100%;
    border-radius:10px;
    background-image: linear-gradient(rgba(85, 91, 122, 0.7), rgba(124, 131, 156, 0.7)),url(images/covermission.jpg);
    background-position:center;
    background-size:cover;
    text-align:center;
    
    padding:100px 0;
}
.about p{
color: ivory;
font-size: 16px;
}
.about h1{
    color: ivory;
    font-size: 50px;
}



/*-------priest----*/

   
   .priest{
       width:80%;
       margin:auto;
       padding-top:100px;
       text-align:center;
   }
   .priest-col{
   flex-basis: 44%;
   border-radius:10px;
   margin-bottom:5%;
   text-align:center;
   background:rgba(240, 190, 133, 0.7);
   padding:25px;
   cursor: pointer;
   display: flex;
   }
   .priest-col img{
       height:40px ;
       margin-left:5px ;
       margin-right:30px ;
       border-radius: 50%;
   }
   .priest-col p{
       padding: 0;
   }
   .priest-col h3{
    margin-top: 15px;
    text-align: left;       
   }
   @media(max-width:700px){
    .priest-col img{
        margin-left:0px ;
        margin-right:15px ;
    }
}

/*-------Contact----*/
.Churchinfo{
    
    margin: 100px auto;
    width:80%;
    border-radius:10px;
    background-image: linear-gradient(rgba(85, 91, 122, 0.7), rgba(124, 131, 156, 0.7)),url(images/ContactImg.png);
    background-position:center;
    background-size:cover;
    text-align:center;
    padding:100px 0;
}
 
.Churchinfo h1{
    color:ivory;
    margin-bottom: 40px;
    padding:0;
}
@media(max-width:700px){
    .Churchinfo h1{
        font-size: 24px ;
    }
}

/*------------ footer ---------*/
.footer{
    margin: 0 0;
    background-color: black;
    width:100%;
    text-align:center;
    padding:30px 0;
    column-count: 3;
    column-width: 250px;
    
}
.footer h1{
    text-align: center;
    color: rgb(233, 155, 87);
    margin-bottom: 20px;
    margin-top:20px;
    font-weight: 300;
    font-size:25px;
}

.icon{
    font-size: 30px;
    position: relative;
    color: ivory;
    background-size: 100% 100%;
    margin: 0 10px;
    cursor:pointer;
    
}
.footer p{
    color: ivory;
    text-align: center;
    font-size: 18px;
}

/*----------about page-------------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(85, 91, 122, 0.7), rgba(124, 131, 156, 0.7)),url(images/backgroundAbout.jpg);
    background-position:center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header h1{
    margin-top: 50px;
}
.about-us{
    width:80%;
    margin: auto;
    padding-top:80px;
    padding-bottom: 50px ;
}

.about-col{
    flex-basis: 48%;
    padding:30px 2px;
}

.about-col img{
    width:100%;
}
.about-col h1{
    text-align: left;
    padding-top: 0;
}
.about-col p{
    padding:15px 0 25px;
}

.color-btn{
    border: 1px solid #000;
    background:transparent;
    color:rgb(19, 43, 40)
}

.about-us-mission{
    margin: 100px auto;
    width:100%;
    border-radius:10px;
    background-image: linear-gradient(rgba(85, 91, 122, 0.7), rgba(124, 131, 156, 0.7)),url(images/covermission.jpg);
    background-position:center;
    background-size:cover;
    text-align:center;
    padding:100px 0;
}
.about-us-mission p{
color: ivory;
font-size: 16px;
}
.about-us-mission h1{
    color: ivory;
    font-size: 50px;
}
.our-priest{
    color: rgb(81, 156, 243);
    font-size: 50px;
    text-align:center;
    padding:0;
}
.PriestInfo {
    column-count: 2;
    column-width: 250px;
    flex-basis: 48%;
    padding:30px 2px;
}
.PriestInfo img{
    width: 100%;
}
.Cstaff{
    color: rgb(81, 156, 243);
    font-size: 50px;
    text-align:center;
    padding:0;
}
.Cstaff-col{
    column-count: 6;
    column-width: 250px;
    flex-basis: 48%;
    padding:30px 2px;
}
.Cstaff-col img{
    width: 100%;
}
/*-----------event page----------*/
.Inquiry{
    padding:50px;
    columns:  250px 2;
}

.inquiry-box div{
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content:space-between;
    padding:12px 12px;
    width: 200px;
    box-sizing: border-box;
    color: rgb(109, 105, 105);
}

.inquiry-box{
    border:2px solid #99b3db;
    margin: 50px 0;
    padding:20px 12px;
    
}
.inquiry-box h3{
    text-align: left;
}
.inquiry-form input, .inquiry-form textarea{
    width: 100%;
    padding:10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #f1eded;
}
.inquiry-form button{
    margin:10px 0;
}
.appointment-box h3{
    text-align: left;
}
.appointment-box div{
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content:space-between;
    padding:12px 12px;
    width: 200px;
    box-sizing: border-box;
    color: rgb(109, 105, 105);
}

.appointment-box{
    border:2px solid #99b3db;
    margin: 50px 0;
    padding:20px 12px;
    display: inline-table;
}

.appointment-form input, .appointment-form textarea{
    width: 100%;
    padding:10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #f1eded;
}
.appointment-form button{
    margin:10px 0;
}
@media(max-width:700px){
    .sub-header h1{
        font-size: 24px ;
    }
}

/*---------- contact us page -----------*/

.location-map{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location-map iframe{
    width: 100%;

}
.churchcontact{
    width:80%;
    margin: auto;
}
.churchcontact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.churchcontact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
        
}
.churchcontact-col div .fa{
    font-size: 28px;
    color:rgb(58, 103, 139);
    margin: 0px;
    margin-right: 30px;
}
.churchcontact-col div p{
    padding:5px;
    


}
.churchcontact-col h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;

}
.churchcontact-col input, .churchcontact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}





    
        
        






